<div>

  <nav>
  <mat-toolbar>
    <button mat-icon-button class="icon">
      <mat-icon>home</mat-icon><b>Home</b>
    </button>
    <button mat-icon-button class="icon">
        <mat-icon>contact_mail</mat-icon><b> Contact</b>
      </button>
      <button mat-icon-button class="icon">
        <mat-icon>location_on</mat-icon><b>Map</b>
      </button>
    </mat-toolbar>
  </nav>
</div>
<header class="header-logo">
  <h1>SGLAP+</h1>
</header>
<main class="blog-post">
  <div class="img-container">
      <img src="../assets/img/depmed.png">
      <img src="../assets/img/sglap_webapp.png">
  </div>
  <div class="main__text">
      <h2>SGLAP+</h2>
      <p> Injuries in sports have been subject of study and concern by coaches and associated
          clubs as it is a factor that influences not only the player’s performance, which represent
          an investment, but also the performance of the team where the goals are achieved or
          not, due to a balanced and healthy squad.
      </p>
      <p>
          Football has kept pace with technological developments and management systems
          have been implemented in several clubs in recent years, at the highest competitive level.
          These systems have been proving to be an asset by allowing better control and
          management of some desired parameters, such as injuries, contracts, scouting, human
          resources, etc.
      </p>
      <p>
          Rio Ave F.C and, more precisely, its medical department, taking into account the
          success and evolution in recent years, felt that they could adopt a system that would
          primarily allow them the registration and data control of injuries in the football sector on
          its senior squad. This need leads to a partnership with ISEP, Instituto Superior de
          Engenharia do Porto, and the creation of the SGLAP, an Injury Management System for
          Professional Athletes.
      </p>
      <p>
          The system is an optimization of the system previously conceived and presents not only
          functionalities for the medical department but also for the sectors of administration,
          physiotherapy, technical team and nutrition as, during the development of SGLAP, new
          needs showed up and were possible to develop and implement.
      </p>
  </div>
</main>
<router-outlet></router-outlet>
